/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; }
.container { padding: 20px; }

.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}
    