.page-header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5; /* Ou qualquer outra cor de fundo desejada */
}

.page-header .logo {
  width: 100px; /* Ou o tamanho desejado para o seu logotipo */
  margin-right: 20px; /* Espaço entre o logotipo e o título */
}

.page-header h1 {
  font-size: 24px;
  margin: 0;
  /* Outros estilos para o título conforme necessário */
}

.listagem-carros {
    padding: 20px;
  }
  
  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search {
    display: flex;
    align-items: center;
  }
  
  .carros-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
  }

  .logo {
    width: 150px;
  }